{% extends 'index.twig' %}
{% block body %}
    <div class="container fleet mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="text-white bg-primary p-5 shadow-sm mb-2">
                    <h1>Rental Fleet <small>Season 2020/2021</small></h1>
                    <h4>Please <a class="text-white" href="http://www.rentavehicle.co.za/contact-us/">contact us</a> for rates or for vehicles that do not appear on the fleet list as we will try to source for you</h4>
                </div>

                <div class="table-responsive">
                    <table class="table table-dark bg-primary text-white mt-4 shadow-sm mb-4">
                        <thead id="lineargradient">
                        <tr>
                            <th>Group</th>
                            <th>Vehicle</th>
                            <th>Specs</th>
                            <th>Features</th>
                            <th>Seating</th>
                            <th>Luggage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="grp">RAV2</td>
                            <td><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV2.jpg"></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Up to 1300</li>
                                    <li>Manual Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio Cd</li>
                                    <li>Aircon</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>4 Doors</li>
                                    <li>Hatch</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="grp">RAV3</td>
                            <td><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV3.jpg" /></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Up to 1300</li>
                                    <li>Manual Transmission</li>
                                    <li>95 unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio Cd</li>
                                    <li>Aircon</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>4 Doors</li>
                                    <li>Hatch</li>
                                </ul>
                                <p>&nbsp;</p>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="grp">RAV4</td>
                            <td><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV4.jpg" /></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>1400 Engine</li>
                                    <li>Manual Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>4 Doors</li>
                                    <li>Hatch</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i><i class="fa fa-suitcase fa-2x pl-2"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="grp">RAV5</td>
                            <td><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV5.jpg" /></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Up to 1600 Engine</li>
                                    <li>Manual Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>4 Doors</li>
                                    <li>Sedan</li>
                                    <li>Large Boot</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i><i class="fa fa-suitcase fa-2x pl-2"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="grp">RAV6</td>
                            <td>
                                <p></p><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV6.jpg" alt="Automatic Sedan Vehicles" />
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>1600 Engine</li>
                                    <li>Automatic Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>4 Doors</li>
                                    <li>Sedan</li>
                                    <li>Large Boot</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i> <i class="fa fa-suitcase-rolling"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i> <i class="fa fa-suitcase fa-2x"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="grp">RAV7</td>
                            <td>
                                <p></p><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV7.jpg" alt="Ford Ikon or Similar">
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>2000 Engine</li>
                                    <li>Automatic Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>ABS Brakes</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>4 Doors</li>
                                    <li>Large Boot</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="grp">RAV8</td>
                            <td>
                                <p></p><img class="shadow-sm img-fluid" src="{{ site.url }}img/RAV8.jpg" alt="BMW 318 or Similar"></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>1800 Engine</li>
                                    <li>Automatic Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>ABS Brakes</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>4 Doors</li>
                                    <li>Medium Boot</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="grp">RAV10</td>
                            <td>
                                <p></p><img class="shadow-sm img-fluid" src="{{ site.url }}img/RAV10.jpg" alt="Luxury Mercedes Vehicles"></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>1800 Engine</li>
                                    <li>Automatic Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>ABS Brakes</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>4 Doors</li>
                                    <li>Large Boot</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="grp">RAV13</td>
                            <td><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV13.jpg" /></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>2200 Engine</li>
                                    <li>Manual Transmission</li>
                                    <li>Petrol or Diesel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>ABS Brakes</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>8 Adults</li>
                                    <li>4 Doors</li>
                                    <li>Rear Door</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i><i class="fa fa-suitcase-rolling pl-2"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i><i class="fa fa-suitcase fa-2x pl-2"></i><i class="fa fa-suitcase fa-2x pl-2"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="grp">RAV21</td>
                            <td>
                                <p></p><img class="img-fluid shadow-sm" src="{{ site.url }}img/rav21.png" alt="Large Luxury automatic class" /></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>2400 Engine</li>
                                    <li>Automatic Transmission</li>
                                    <li>95 Unleaded Petrol</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>ABS Brakes</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>4 Doors</li>
                                    <li>Large Boot</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i><i class="fa fa-suitcase fa-2x pl-2"></i></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="grp">RAV15</td>
                            <td><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV15.jpg" /></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>2400 Engine</li>
                                    <li>Manual Transmission</li>
                                    <li>95 Unleaded Petrol</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>ABS Brakes</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>Double Cab</li>
                                    <li>4 Doors</li>
                                    <li>Large Rear Area</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i><i class="fa fa-suitcase-rolling pl-2"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i><i class="fa fa-suitcase fa-2x pl-2"></i><i class="fa fa-suitcase fa-2x pl-2"></i></li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="grp">RAV18</td>
                            <td><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV18.jpg" /></td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>1500 Engine</li>
                                    <li>Manual Transmission</li>
                                    <li>95 Unleaded Petrol</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>Folding Rear Seat</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>2 Children</li>
                                    <li>4 Doors</li>
                                    <li>Large Rear Door</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i><i class="fa fa-suitcase-rolling pl-2"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i><i class="fa fa-suitcase fa-2x pl-2"></i></li>
                                </ul>
                            </td>
                        </tr>

                        <tr style="display:none;">
                            <td class="grp">RAV22</td>
                            <td>
                                <p></p><img class="img-fluid shadow-sm" src="{{ site.url }}img/RAV22.jpg" alt="SUV class vehicles" width="300" height="168">
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Up To 2l Engine</li>
                                    <li>Automatic Transmission</li>
                                    <li>95 Unleaded Fuel</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>Radio CD</li>
                                    <li>Aircon</li>
                                    <li>Power Steering</li>
                                    <li>Airbags</li>
                                    <li>ABS Brakes</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>4 Adults</li>
                                    <li>1 Child</li>
                                    <li>4 Doors</li>
                                    <li>Rear Door</li>
                                    <li>Large Back Area</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-suitcase-rolling"></i></li>
                                    <li class="mt-2"><i class="fa fa-suitcase fa-2x"></i></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}